/* src/styles/globals.css */
@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Custom styles below */
body {
  font-family: 'Inter', sans-serif;
}
.css-79elbk {
  position: relative;
}
#myNameTitle {
  font-family: 'Pixelify Sans', sans-serif;
  /* letter-spacing: 2px; */
}
html {
  scroll-behavior: smooth;
}
/* In your globals.css or specific CSS file */
html {
  scroll-behavior: smooth;
}

/* Add any additional styles you need for the fixed navbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.css-1eozjqx {
  position: absolute;
  z-index: -100;
  top: -20px;
  left: calc(2rem* 4);
  width: 250px;
  height: 140px;
  filter: invert(0.2);
}
.c{
  /* position: absolute; */
  z-index: -100;
}

.s{
  z-index: 100;
}
.FontChange{
  font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
}
#logo {
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}
.underline-animation {
  position: relative;
  display: inline-block;
}
.underline-animation::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  display: block;
  margin-top: -4px;
  right: 0;
  background: #a8b2d1;
  transition: width 0.2s ease-in-out;
  -webkit-transition: width 0.2s ease-in-out;
}
.underline-animation:hover::after {
  width: 100%;
  left: 0;
  background: #a8b2d1cb;
}
nav ,#Name{
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}

.fade-enter-active, .fade-leave-active {
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateY(20px);
}
#mobile-menu {
  position: fixed; /* or absolute */
  top: 0;
  right: 0;
  width: 50%; /* or any width you prefer */
  z-index: 1000; /* Ensure it is above other content */
}
@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
  
}
