/* src/styles/globals.css */
@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Custom styles below */
body {
  font-family: 'Inter', sans-serif;
}

#logo {
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}

nav {
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}

.slide-in {
  animation: slide-in 0.3s forwards;
}

.slide-out {
  animation: slide-out 0.3s forwards;
}
#mobile-menu {
  position: fixed; /* or absolute */
  top: 0;
  right: 0;
  width: 50%; /* or any width you prefer */
  z-index: 1000; /* Ensure it is above other content */
}
@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
  
}
